.content.first h1 {
    font-size: 700%;
    text-align: center;
}

.content.first h2 {
    font-size: 200%;
    text-align: center;
}

.info {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
}

.info .count {
    display: inline-block;
    width: auto;
}

.info .count .index::after {
    content: "/"
}