.content.first h1 {
    font-size: 700%;
    text-align: center;
}

.content.first h2 {
    font-size: 200%;
    text-align: center;
}

.content h2 {
    font-size: 300%;
}

.content blockquote {
    background-color: rgb(80%, 80%, 80%);
    border-left-color: rgb(20%, 20%, 20%);
    border-left-style: solid;
    border-left-width: 3px;
    padding: 3em;
}

.content blockquote p:first-child::before {
    content: "“"
}

.content blockquote p:last-child::after {
    content: "”";
}

.content p {
    font-size: 150%;
}

.info {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
}

.info .count {
    display: inline-block;
    width: auto;
}

.info .count .index::after {
    content: "/"
}
